<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='医院就诊记录'"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">

        <!--<hr class="layui-bg-blue"/>-->
        <!--<hr class="layui-bg-black"/>-->


        <div style="display:none;" id="currentUser"><shiro:principal property="id"></shiro:principal></div>

        <table id="visitList" lay-filter="userTable"></table>


    </div>



    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/dateUtils.js"></script>
    <script src="/js/visitList.js"></script>

</div>
</body>
</html>

