<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='微博评论'"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">

        <!--<hr class="layui-bg-blue"/>-->
        <!--<hr class="layui-bg-black"/>-->


        <div style="display:none;" id="currentUser"><shiro:principal property="id"></shiro:principal></div>


        <table id="weiboDetail" lay-filter="userTable"></table>

        <script type="text/html" id="optBar">
            {{#  if(d.reLink == ""||d.reLink == null){ }}
            {{#  } else { }}
            <a class="layui-btn layui-btn-xs" lay-event="quanwen">全文</a>
            {{#  } }}

        </script>

        <!--<script>-->
            <!---->
        <!--</script>-->

    </div>

    <div id="setUser" class="layer_self_wrap" style="width:500px;height:500px;display:none;">
        <form id="userForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 10px;">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">微博内容</label>
                <div class="layui-input-block">
                    <textarea id="weiboContent" name="weiboContent"  autocomplete="off" class="layui-textarea" type="text" style="height:400px"/>
                </div>
            </div>
        </form>
    </div>




    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/dateUtils.js"></script>
    <script src="/js/weiboDetail.js"></script>

</div>
</body>
</html>